<html xmlns:th="http://www.thymeleaf.org">
	
<body>
	
	
	<p th:text="${msg}"></p>
	
	<table border="1">
		
		<tr>
			<td> <b>Id</b></td>
			<td><b>Value</b></td>
			<td><b>Student name</b></td>
			<td><b>Student surname</b></td>
			<td><b>Course title</b></td>
		</tr>
		
		
		<tr th:each="tempG : ${mydata}">
			<td th:text="${tempG.getIdg()}"></td>
			<td th:text="${tempG.getGrvalue()}"></td>
			<td th:text="${tempG.getStudent().getName()}"></td>
			<td th:text="${tempG.getStudent().getSurname()}"></td>
			<td th:text="${tempG.getCourse().getTitle()}"></td>
		</tr>
		
	</table>
	
	
	
</body>

</html>